@mixin drop($pos: absolute, $wid: 73.65px, $hei: 73.65px, $bg: #ffffff, $mbm: multiply) {
  position: $pos;
  width: $wid;
  height: $hei;
  background: $bg;
  mix-blend-mode: $mbm;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .phone-fig-19-38 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 1px;
    left: 8px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 35px 0px 0px 35px;
    transform: rotate(180deg);
  }

  .phone-fig-9-38 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 8px;
    right: 0.35px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 35px 0px 0px 35px;
  }

  .phone-fig-12 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    left: -29px;
    top: 302.61px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
  }

  .phone-fig-67 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 1359.84px;
    right: 0;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 25px;
  }

  .phone-fig-68 {
    @include drop(absolute, 73px, 60px, #ffffff, multiply);
    top: 990px;
    right: 0;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 25px 25px;
    transform: rotate(90deg);
  }

  .phone-fig-63 {
    @include drop(absolute, 50px, 73.65px, #ffffff, multiply);
    top: 500px;
    right: 0;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0 0 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .tablet-fig-2 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 8px;
    left: 32px;
    border-radius: 35px 0px 0px 0px;
  }
  .tablet-fig-5 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    left: 8px;
    top: 302.61px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    transform: rotate(-90deg);
  }

  .tablet-fig-19-38 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 8px;
    left: 233px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 35px 0px 0px 35px;
    transform: rotate(180deg);
  }

  .tablet-fig-9-38 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 8px;
    right: 233px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 35px 0px 0px 35px;
  }

  .tablet-fig-44 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 8px;
    right: 91.95px;
  }

  .tablet-fig-68 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    top: 1033.01px;
    right: 8.35px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    transform: rotate(90deg);
  }

  .tablet-fig-58 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, multiply);
    right: 8.35px;
    top: 153.42px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
  }

  .tablet-fig-69 {
    @include drop(absolute, 73.65px, 73.65px, #ffffff, hue);
    top: 1330.17px;
    left: -17px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .desktop-fig-9-38-right {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    top: 7px;
    right: 293px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px 0px 72px;
  }

  .desktop-fig-9-38-left {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    top: 7px;
    left: 293px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px 0px 72px;
    transform: rotate(180deg);
  }

  .desktop-fig-2 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    border-radius: 72px 0px 0px 0px;
    top: 7px;
    left: 32px;
  }

  .desktop-fig-44 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    top: 7px;
    right: 149px;
  }
  .desktop-fig-68 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    right: 0;
    top: 1247px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
  }

  .desktop-fig-46 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    left: -64px;
    top: 1077px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
  }

  .desktop-fig-60 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    right: 0;
    top: 667px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
  }

  .desktop-fig-61 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    right: 0;
    top: 159px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
  }

  .desktop-fig-3 {
    @include drop(absolute, 144px, 144px, #ffffff, multiply);
    left: 13px;
    top: 280px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
  }
}
