<!-- <section class="adaptive-menu" data-menu>
    <ul class="adaptive-menu__list">
        <li class="adaptive__main">
            <a class="adaptive__link" href="../index.html"><span class="adaptive-item">ГОЛОВНА</span></a>
        </li>
        <li class="adaptive__main">
            <a class="adaptive__link" href=""><span class="adaptive-item">ПОСЛУГИ</span></a>
        </li>
        <li class="adaptive-menu__main">
            <a class="adaptive-menu__link" href="../3d-modeling.html"><span class="adaptive-item">3D
                    Моделювання</span></a>
        </li>
        <li class="adaptive-menu__main">
            <a class="adaptive-menu__link" href="../scanning.html"><span class="adaptive-item">3D Сканування</span></a>
        </li>
        <li class="adaptive-menu__main">
            <a class="adaptive-menu__link" href="../printing.html"><span class="adaptive-item">3D Друк</span></a>
        </li>
        <li class="adaptive__main">
            <a class="adaptive__link" href="../take-order.html"><span class="adaptive-item">ЗАМОВИТИ</span></a>
        </li>
        <li class="adaptive__main">
            <a class="adaptive__link" href="../contact.html"><span class="adaptive-item">КОНТАКТИ</span></a>
        </li>
    </ul>
</section> -->