<div class="phone-fig-19-38"></div>
<div class="phone-fig-9-38"></div>
<div class="phone-fig-12"></div>
<div class="phone-fig-67"></div>
<div class="phone-fig-68"></div>
<div class="phone-fig-63"></div>
<div class="tablet-fig-2"></div>
<div class="tablet-fig-5"></div>
<div class="tablet-fig-19-38"></div>
<div class="tablet-fig-9-38"></div>
<div class="tablet-fig-44"></div>
<div class="tablet-fig-68"></div>
<div class="tablet-fig-58"></div>
<div class="tablet-fig-69"></div>
<div class="desktop-fig-9-38-right"></div>
<div class="desktop-fig-9-38-left"></div>
<div class="desktop-fig-2"></div>
<div class="desktop-fig-44"></div>
<div class="desktop-fig-68"></div>
<div class="desktop-fig-46"></div>
<div class="desktop-fig-60"></div>
<div class="desktop-fig-61"></div>
<div class="desktop-fig-3"></div>
