<footer class="section footer-section">
    <div class="container footer-container">
        <a class="footer-logo" href="./index.html">
            <picture>
            
                <source 
                    srcset="./images/logo/logo_desktop.png 1x, ./images/logo/logo_desktop@2x.png 2x">
                <img class="footer-logo__picture" src="./images/logo/logo_desktop.png" alt="Логотип">
            </picture>
        </a>
        <div class="footer-menu">
            <nav class="footer-nav">

                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="./index.html">Головна</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="./3d-modeling.html">3D Моделювання</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="./scanning.html">3D Сканування</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="./printing.html">3D Друк</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="./take-order.html">Замовити</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer-nav__link" href="./contact.html">Контакти</a>
                    </li>
                </ul>
            </nav>
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#">Instagram</a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#">YouTube</a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link" href="#">Facebook</a>
                </li>
            </ul>
            <address class="footer-contact">
                <ul class="footer-contact__list">
                    <li class="footer-contact__item">
                        <p class="footer-contact__text">Email</p>
                        <a class="footer-contact__link"
                            href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                    </li>
                    <li class="footer-contact__item">
                        <p class="footer-contact__text">Телефони</p>
                        <a class="footer-contact__link" href="tel:+380936432288">+38 (093) 643 22 88</a>
                    </li>
                    <li class="footer-contact__item">
                        <a class="footer-contact__link" href="tel:+380503454423">+38 (050) 345 44 23</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</footer>
<script src="./index.js"></script>