<section class="home-hero">
    <div class="container">
        <h1 class="home-hero-title ">Інженерна, конструкторська <br> та дизайнерська робота</h1>
        <ul class="home-hero-images">
            <li class="home-hero-item  figure">
                <picture class="home-hero-picture">
                    <source media="(max-width: 767px)" srcset="
                                                 ./images/home-hero/robot-mob.jpg 1x,
                                                 ./images/home-hero/robot-mob@2x.jpg 2x
                                                " />
                    <source media="(max-width: 991px)" srcset="
                            ./images/home-hero/robot-tablet.jpg 1x,
                            ./images/home-hero/robot-tablet@2x.jpg 2x
                            " />
                    <source srcset="
                            ./images/home-hero/robot-desktop.jpg 1x,
                            ./images/home-hero/robot-desktop@2x.jpg 2x,
                            ./images/home-hero/robot-desktop@3x.jpg 3x
                            " />
                            <img src="#" alt="3d робот">
                </picture>  
            </li>
            <li class="home-hero-item  round">
                <picture class="home-hero-picture">
                    <source
                    media="(max-width: 767px)"
                    srcset="
                            ./images/home-hero/lamps-mob.jpg    1x,
                            ./images/home-hero/lamps-mob@2x.jpg 2x
                            " />
                            <source media="(max-width: 991px)" srcset="
                                                        ./images/home-hero/lamps-tablet.jpg    1x,
                                                        ./images/home-hero/lamps-tablet@2x.jpg 2x
                                                        " />
                            <source  srcset="
                                   ./images/home-hero/lamp-desktop.jpg    1x,
                                    ./images/home-hero/lamp-desktop@2x.jpg 2x,
                                    ./images/home-hero/lamp-desktop@3x.jpg 3x
                                    " />
                    <img src="#" alt="3d лампи">
                </picture>
            </li>
            <li class="home-hero-item  petal">
                <picture class="home-hero-picture">
                    <source 
                    media="(max-width: 767px)"
                    srcset="
                                         ./images/home-hero/scull-mob.jpg 1x,
                                         ./images/home-hero/scull-mob@2x.jpg 2x
                                        " />
                    <source media="(max-width: 991px)" srcset="
                            ./images/home-hero/scull-tablet.jpg 1x,
                            ./images/home-hero/scull-tablet@2x.jpg 2x
                            " />
                    <source srcset="
                            ./images/home-hero/scull-desktop.jpg 1x,
                            ./images/home-hero/scull-desktop@2x.jpg 2x,
                            ./images/home-hero/scull-desktop@3x.jpg 3x
                           " />
                    <img src="#" alt="3d череп">
                </picture>
            </li>
        </ul>
        <h3 class="home-hero-subtitle">Ми втілюємо ідеї в реальність</h3>
    </div>
</section>
