<div class="home-phone-fig-63"></div>
<div class="home-phone-fig-19"></div>
<div class="home-phone-fig-68"></div>
<div class="home-phone-fig-12"></div>
<div class="home-phone-fig-19-38"></div>
<div class="home-phone-fig-9-38"></div>

<div class="home-tablet-fig-2"></div>
<div class="home-tablet-fig-19-38"></div>
<div class="home-tablet-fig-9-38"></div>
<div class="home-tablet-fig-45"></div>
<div class="home-tablet-fig-12"></div>
<div class="home-tablet-fig-5"></div>
<div class="home-tablet-fig-60"></div>
<div class="home-tablet-fig-19"></div>
<div class="home-tablet-fig-48"></div>
<div class="home-tablet-fig-58"></div>
<div class="home-tablet-fig-63"></div>
<div class="home-tablet-fig-46"></div>
<div class="home-tablet-fig-10"></div>
<div class="home-tablet-fig-61"></div>
<div class="home-tablet-fig-62"></div>
<div class="home-tablet-fig-3"></div>
<div class="home-tablet-fig-10"></div>
<div class="home-tablet-grey"></div>
<div class="home-tablet-green"></div>
<div class="home-tablet-color"></div>
<div class="home-tablet-mush"></div>

<div class="home-desktop-fig-2"></div>
<div class="home-desktop-fig-19-38"></div>
<div class="home-desktop-fig-9-38"></div>
<div class="home-desktop-fig-45"></div>
<div class="home-desktop-fig-12"></div>
<div class="home-desktop-fig-5"></div>
<div class="home-desktop-fig-60"></div>
<div class="home-desktop-fig-19"></div>
<div class="home-desktop-fig-48"></div>
<div class="home-desktop-fig-58"></div>
<div class="home-desktop-fig-63"></div>
<div class="home-desktop-fig-46"></div>
<div class="home-desktop-fig-10"></div>
<div class="home-desktop-fig-61"></div>
<div class="home-desktop-fig-62"></div>
<div class="home-desktop-fig-3"></div>
<div class="home-desktop-fig-10"></div>
<div class="home-desk-grey"></div>
<div class="home-desk-green"></div>
<div class="home-desk-color"></div>
<div class="home-desk-mush"></div>
